git+https://bitbucket.csiro.au/scm/tos/python-askap.git#egg=askap
git+https://bitbucket.csiro.au/scm/tos/python-parset.git#egg=askap.parset
git+https://bitbucket.csiro.au/scm/tos/python-footprint.git#egg=askap.footprint
