tk
tzdata>=2022.7
astropy
dask
patsy
pytz
python-dateutil>=2.8.2
pandas
Jinja2
markupsafe
matplotlib
pillow
scipy
argparse
six
radio_beam
spectral_cube
reproject
aplpy
statsmodels
seaborn
healpy
beautifulsoup4
html5lib
keyring
pyvo
astroquery
h5py
docopt
mpld3
pyopenssl
zeroc-ice
mpi4py
