# Modules to be built using python 
#reproject
#aplpy
#python-dateutil>=2.8.2
#tzdata>=2022.7
#dask
#casa-formats-io
#patsy

# NUMPY:
numpy<1.24
setuptools<59

# ASTROPY: 
pyerfa
astropy-iers-data
yaml
astropy

# matplotlib
cycler
kiwisolver
